  .enemy-log {
    top: 500px;
    right: -234px;
    width: 522px;
    height: 188px;
    z-index: -9994;
    position: absolute;
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    background: url(../assets/misc/log1.png) left center;
    animation: moveForward 5.3s linear infinite;
    animation-play-state: paused;
}

@keyframes moveForward {
    100% { right: 790px; }
}
