/* 75A0u0kg0cOb+nHdJivk1aenG7i */
body{
    overflow-x: hidden;
}
body, .cover-right, .cover-left {
    background-color: #936F54;
}
.game-container {
    width: 1300px;
    height: 620px;
}
.cover-left {
    height: 800px;
    width: 633px;
    margin-left: -505px;
    position: absolute;
}
.cover-right {
    height: 800px;
    width: 200px;
    margin-left: 896px;
}
#pre-game{
    text-align: center;
    color: white;
    font-size: 60px;
    margin-top: 200px;
}
#play-btn{
    color: black;
    height: 50px;
    width: 101px;
    font-size: 23px;
}