body{
    background-image: url("../assets/background.jpg");
}
.contenedor{
    height: 200px;
    background-color: black;
}
.header{
    color: white;
}
.myinput{
    margin-top: 3%;
    margin-right: 3%;
    color: white;
}
img{
    margin-left: 40%;
}
